* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    height: 100vh;
}

:root {
    --backgroundcolor_25: rgb(25, 25, 25);
}

/* N  A  V  I  G  A  T  I  O  N       B  A  R         F  R  O  M            H  E  R  E */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------------------------------ */
#left-nav-div {
    padding: 15px 150px 15px 30px;
}

#left-nav-div img {
    cursor: pointer;
    filter: invert(1);
    transition: transform 0.3s, filter 0.3s;
}

#left-nav-div img:hover {
    filter: invert(0.8);
    transform: scale(1.05);
}


/* ------------------------------------------------------------------------------ */
#middle-nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#home-logo {
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 50px;
    cursor: pointer;
    width: 25px;
    transition: background-color 0.3s, transform 0.3s;
}

#home-logo:hover {
    background-color: rgb(45, 45, 45);
    transform: scale(1.05);
}

#home-logo img {
    filter: invert(1);
}

#search-bar {
    background-color: rgb(30, 30, 30);
    border-radius: 30px;
    padding: 10px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar :first-child {
    cursor: pointer;
    padding: 3px 0px 0px 3px;
}

#search-bar :first-child img {
    filter: invert(0.7);
    width: 25px;
    transition: filter 0.3s;
}

#search-bar input {
    color: white;
    font-size: large;
    width: 80%;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: inherit;
    outline: none;
    padding: 5px;
}

#search-bar :last-child img {
    cursor: pointer;
    filter: invert(0.7);
    width: 25px;
    transition: filter 0.2s;
}

#search-bar :last-child img:hover {
    filter: invert(1);
}


/* ------------------------------------------------------------------------------ */
#right-nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#sign-up {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.775);
    padding: 15px 30px 15px 0px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

#sign-up:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

#login {
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

#login:hover {
    transform: scale(1.05);
}



/* M  A  I  N       B  A  R        F  R  O  M         H  E  R  E */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.left-right-box {
    height: 80vh;
    border-radius: 5px;
}

#left-main {
    background-color: rgb(20, 20, 20);
    width: 30vw;
    margin: 0px 10px 10px 10px;
}

#your-library-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

#your-library-section :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#your-library-section :first-child img {
    width: 25px;
    filter: invert(0.7);
    transition: filter 0.3s
}

#your-library-section :first-child span {
    filter: invert(0.3);
    font-weight: bold;
    width: 100px;
    transition: filter 0.3s
}

#your-library-section> :last-child img {
    filter: invert(0.7);
}


#your-library-section> :last-child {
    width: 15px;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    transition: transform 0.3s, background-color 0.3s;
}


#your-library-section> :last-child:hover {
    background-color: rgb(40, 40, 40);
    transform: scale(1.1)
}


#basic-working-tabs {
    height: 380px;
    overflow: auto;
}


.first_playlist {
    background-color: rgb(35,35,35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px;
}


.first_playlist :first-child {
    font-weight: bold;
    font-size: 15px;
}

.first_playlist :nth-child(2) {
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.first_playlist :last-child {
    font-weight: bold;
    font-size: 13px;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.first_playlist :last-child:hover {
    transform: scale(1.03);
}



.website-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 11px;
    font-weight: lighter;
    gap: 20px;
    padding: 15px;
    cursor: pointer;
}

.website-info_all {
    text-decoration: none;
    color: white;
    filter: invert(0.3);
    transition: filter 0.Z;
}

.website-info_all:hover {
    filter: none;
}

#cookies {
    font-size: 12px;
    padding: 0px 15px;
    cursor: pointer;
    filter: invert(0.3);
}

#cookies:hover {
    filter: invert(0);
    text-decoration: underline;
}


#language-changing {
    display: inline-block;
    margin: 20px 0px;
}

#language-changing-innerdiv {
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.462);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: border 0.3s, transform 0.3s;
}

#language-changing :first-child img {
    width: 15px;
    filter: invert(1);
    /* transition: transform 0.3s; */
}

#language-changing-innerdiv span {
    color: white;
    font-size: 13px;
    /* transition: transform 0.3s; */
}







#right-main {
    width: 70vw;
    margin: 0px 10px 10px 0px;
    /* background: linear-gradient(rgb(45, 45, 45), rgb(20, 20, 20), rgb(20, 20, 20)); */
    background: rgb(20, 20, 20);
    overflow: auto;
}

.headings-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headings-row :first-child{
    font-size: 23px;
    font-weight: bold;
    transition: transform 0.3s;
    cursor: pointer;
}

.headings-row :first-child:hover{
    transform: scale(1.03);
    text-decoration: underline;
}

.headings-row :last-child{
    font-size: 14px;
    font-weight: bold;
    filter: invert(0.3);
    transition: transform 0.3s;
    cursor: pointer;
}

.headings-row :last-child:hover{
    filter: none;
    transform: scale(1.03);
    text-decoration: underline;
}

.playlist-row{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: inherit; */
    border-radius: 10px;
    width: 180px;
    position: relative;
    cursor: pointer;
  }

  .thumbnail img {
    width: 150px;
    border-radius: 200px;
    margin: 15px 15px 5px 15px;
  }

  .artist-name {
    color: white;
    margin: 0px 0px 15px 15px;
    line-height: 25px;
  }

  .artist-name :first-child {
      font-weight:lighter;
    }
    
    .artist-name :last-child {
      font-size:smaller;
    filter: invert(0.5);
  }

  .playbutton img {
    position: absolute;
    width: 50px;
    cursor: pointer;
    bottom: 30px;
    right: 25px;
    opacity: 0;
    transition: bottom 0.3s, right 0.3s, opacity 0.3s, transform 0.3s, filter 0.3s;
  }

  .playbutton img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
  }

/* F  O  O  T  E  R       B  A  R        F  R  O  M         H  E  R  E */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
footer {
    background: linear-gradient(to right, #9f1198, #9d6097, #2576ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 10px;
}

#sticky-footer-left :first-child {
    font-weight: 600;
    line-height: 1.6;
}

#sign-up-for-free {
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

#sign-up-for-free:hover {
    transform: scale(1.03);
}