#right-main {
    width: 70vw;
    margin: 0px 10px 10px 0px;
    background: rgb(20, 20, 20);
    overflow: auto;
    position: relative;
}

#right-main::-webkit-scrollbar {
    display: none;
}


.all_the_rows {
    height: 200px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    overflow: auto;
    scroll-behavior: smooth;
}

.all_the_rows::-webkit-scrollbar {
    display: none;
}

#scrollContainer_first {
    height: 200px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    overflow: auto;
    /* height: 280px; */
    scroll-behavior: smooth;
}

#scrollContainer_first::-webkit-scrollbar {
    display: none;
}


.headings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.headings-row :first-child {
    font-size: 23px;
    font-weight: bold;
    transition: transform 0.3s;
    cursor: pointer;
}

.headings-row :first-child:hover {
    transform: scale(1.03);
    text-decoration: underline;
}

.headings-row :last-child {
    font-size: 14px;
    font-weight: bold;
    filter: invert(0.3);
    transition: transform 0.3s;
    cursor: pointer;
}

.headings-row :last-child:hover {
    filter: none;
    transform: scale(1.03);
    text-decoration: underline;
}

/* for artist row */
#right-main> :nth-child(2)> :last-child> :nth-child(2) {
    display: flex;
    flex-direction: row;
    height: 250px;
    gap: 0px;
    padding: 10px 0px;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    white-space: nowrap;
    margin: 0px -40px;
}

#right-main> :nth-child(2)> :last-child> :nth-child(2)::-webkit-scrollbar {
    display: none;
}

.playlist-row {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    /* position: relative; */
    /* cursor: pointer; */
    transition: transform 0.4s;
}

.playbutton img {
    position: absolute;
    width: 50px;
    cursor: pointer;
    top: 170px;
    right: 25px;
    opacity: 0;
    background-color: #ffcc00;
    border-radius: 100px;
    transition: top 0.3s, right 0.3s, opacity 0.3s, transform 0.3s, filter 0.3s;
}

.playbutton img:hover {
    transform: scale(1.05);
}

.thumbnail {
    height: 200px;
}

.thumbnail img {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.artist-name {
    color: white;
    margin: 10px 15px 0px;
    line-height: 25px;
    font-family: cursive;
}

.artist-name :first-child {
    font-weight: lighter;
}

.artist-name :last-child {
    font-size: smaller;
    filter: invert(0.5);
}


.all_song_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.all_song_list:hover {
    background-color: rgb(40, 40, 40);
}

.all_song_list :first-child {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    /* cursor: pointer; */
}

.all_song_list>div {
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;
    /* text-decoration: none; */
    /* cursor: pointer; */
}

/* .all_song_list>div:hover{
    text-decoration: underline;
} */


.all_song_list> :last-child {
    width: 25px;
    background-color: #ffcc00;
    padding: 2px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.all_song_list> :last-child:hover {
    transform: scale(1.05);
}


.scrollbtn {
    opacity: 0.5;
    transition: transform 0.3s;
}

.scrollbtn:hover {
    opacity: 1;
    transform: scale(1.2);
}

#scrollLeft_first {
    padding: 5px 10px;
    transform: rotate(90deg);
    cursor: pointer;
}

#scrollRight_first {
    padding: 5px 0px;
    transform: rotate(90deg);
    cursor: pointer;
}







#scrollLeft_second {
    position: relative;
    bottom: 20px;
    left: 10px;
    z-index: 1;
    cursor: pointer;

}


#scrollRight_second {
    position: relative;
    bottom: 20px;
    right: 10px;
    z-index: 1;
    cursor: pointer;

}


.hidden {
    visibility: hidden;
}

#right-main> :nth-child(2)> :last-child {
    display: flex;
    align-items: center;
}
