* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    height: 100vh;
    /* overflow: hidden; */
}

:root {
    --backgroundcolor_25: rgb(25, 25, 25);
}

/* N  A  V  I  G  A  T  I  O  N       B  A  R         F  R  O  M            H  E  R  E */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */













/* M  A  I  N       B  A  R        F  R  O  M         H  E  R  E */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    height: 83vh;
}

.left-right-box {
    height: 83vh;
    border-radius: 5px;
}

/* @media (max-height: 1000px){
    body{
        height: 78vh;
    }
    main{
        height: 73vh;
    }
    .left-right-box {
        height: 73vh;
    }
}
@media (max-height: 800px){
    body{
        height: 100vh;
    }
    main{
        height: 83vh;
    }
    .left-right-box {
        height: 83vh;
    }
}
@media (max-height: 600px){
    main{
        height: 78vh;
    }
    .left-right-box {
        height: 78vh;
    }
} */

/* F  O  O  T  E  R       B  A  R        F  R  O  M         H  E  R  E */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */